<section class="section-featured">
    <div class="container">
      <h2 class="heading-featured-in">As featured in</h2>
      <div class="logos">
        <img src="/images/logos/techcrunch.png" alt="Techcrunch logo" />
        <img
          src="/images/logos/business-insider.png"
          alt="Business Insider logo"
        />
        <img
          src="/images/logos/the-new-york-times.png"
          alt="The New York Times logo"
        />
        <img src="/images/logos/forbes.png" alt="Forbes logo" />
        <img src="/images/logos/usa-today.png" alt="USA Today logo" />
      </div>
    </div>
  </section>
