<footer class="footer">
  <div class="container grid grid--footer">
    <div class="logo-col">
      <a href="#" class="footer-logo">
        <img class="logo" alt="Globe logo" src="project-Images\GOglobe_logo_No bg.png" />
      </a>

      <ul class="social-links">
        <li>
          <a class="footer-link" href="#"
            ><ion-icon class="social-icon" name="logo-instagram"></ion-icon
          ></a>
        </li>
        <li>
          <a class="footer-link" href="#"
            ><ion-icon class="social-icon" name="logo-facebook"></ion-icon
          ></a>
        </li>
        <li>
          <a class="footer-link" href="#"
            ><ion-icon class="social-icon" name="logo-twitter"></ion-icon
          ></a>
        </li>
      </ul>

      <p class="copyright">
        Copyright &copy; <span class="year">2024</span> by Globe travel, Inc.
        All rights reserved.
      </p>
    </div>

    <div class="address-col">
      <p class="footer-heading">Contact us</p>
      <address class="contacts">
        <p class="address">
          623 Galaxy tower, 2nd Floor, Pune, India
        </p>
        <p>
          <a class="footer-link" href="tel:023220-987456123">+91-9874563210</a
          ><br />
          <a class="footer-link" href="mailto:hello@globetravel.com"
            >hello-globetravel.com</a
          >
        </p>
      </address>
    </div>

    <nav class="nav-col">
      <p class="footer-heading">Account</p>
      <ul class="footer-nav">
        <li><a class="footer-link" href="#">Create account</a></li>
        <li><a class="footer-link" href="#">Sign in</a></li>
        <li><a class="footer-link" href="#">iOS app</a></li>
        <li><a class="footer-link" href="#">Android app</a></li>
      </ul>
    </nav>

    <nav class="nav-col">
      <p class="footer-heading">Company</p>
      <ul class="footer-nav">
        <li><a class="footer-link" href="#">About Globe travel</a></li>
        <li><a class="footer-link" href="#">For Business</a></li>
        <li><a class="footer-link" href="#">Flight partners</a></li>
        <li><a class="footer-link" href="#">Careers</a></li>
      </ul>
    </nav>

    <nav class="nav-col">
      <p class="footer-heading">Resources</p>
      <ul class="footer-nav">
        <li><a class="footer-link" href="#">Recipe directory </a></li>
        <li><a class="footer-link" href="#">Help center</a></li>
        <li><a class="footer-link" href="#">Privacy & terms</a></li>
      </ul>
    </nav>
  </div>
</footer>
  