<section class="section-hero">
  <div class="hero">
    <div class="hero-text-box">
      <h1 class="heading-primary">
        Welcome to Globe travel, Discover your world!
      </h1>
      <p class="hero-description">
        Our dedicated customer support team is available around 
        the clock to assist you with any travel needs,
        ensuring a hassle-free and enjoyable journey.
      </p>
      <a href="#cta" class="btn btn--full margin-right-sm"
        >Book a trip</a
      >

      <a href="#how" class="btn btn--outline">Learn more &darr;</a>
      <div class="delivered-meals">
        <div class="delivered-imgs">
          <img src="/images/customers/customer-1.jpg" alt="Customer photo" />
          <img src="/images/customers/customer-2.jpg" alt="Customer photo" />
          <img src="/images/customers/customer-3.jpg" alt="Customer photo" />
          <img src="/images/customers/customer-4.jpg" alt="Customer photo" />
          <img src="/images/customers/customer-5.jpg" alt="Customer photo" />
          <img src="/images/customers/customer-6.jpg" alt="Customer photo" />
        </div>
        <p class="delivered-text">
          <span>40,000+</span> Satisfied customers last year!
        </p>
      </div>
    </div>
    <div class="hero-img-box">
      <picture>
        <source srcset="/images/hero_WEBP.webp" type="image/webp" />
        <source srcset="/images/hero_min.png" type="image/png" />

        <img
          src="/images/hero_min.png"
          class="hero-img"
          alt="Woman enjoying food, meals in storage container, and food bowls on a table"
        />
      </picture>
    </div>
  </div>
</section>