<section class="section-testimonials" id="testimonials">
  <div class="testimonials-container">
    <span class="subheading">Testimonials</span>
    <h2 class="heading-secondary">Once you try it, you can't go back</h2>

    <div class="testimonials">
      <figure class="testimonial">
        <img
          class="testimonial-img"
          alt="Photo of customer Samantha K"
          src="/images/customers/samantha k (1).jpeg"
        />
        <blockquote class="testimonial-text">
          "They created an unforgettable honeymoon experience for us in Bali. 
          The luxury resorts, romantic dinners, 
          The team was attentive and made sure every moment was special.
        </blockquote>
        <p class="testimonial-name">&mdash; Samantha K</p>
      </figure>

      <figure class="testimonial">
        <img
          class="testimonial-img"
          alt="Photo of customer john doe"
          src="/images/customers/john (1).jpeg"
        />
        <blockquote class="testimonial-text">
          "Globe travel turned my dream trip to Paris into a reality! 
          Their personalized service made me feel like a VIP. I'll definitely be booking with them again!"
        </blockquote>
        <p class="testimonial-name">&mdash; Ben Hadley</p>
      </figure>

      <figure class="testimonial">
        <img
          class="testimonial-img"
          alt="Photo of customer Hannah Miller"
          src="/images/customers/hannah.jpg"
        />
        <blockquote class="testimonial-text">
          "My adventure in Tokyo was nothing short of amazing, thanks to GoGlobe. 
          Their local guides provided incredible insights into the culture and hidden gems of the city.
        </blockquote>
        <p class="testimonial-name">&mdash; Steve Miller</p>
      </figure>

      <figure class="testimonial">
        <img
          class="testimonial-img"
          alt="Photo of customer Lyra Sharma"
          src="/images/customers/lyra (1).jpeg"
        />
        <blockquote class="testimonial-text">
          "Globe's planning and expertise made my solo trip to Rome an enriching experience.
           The historic tours were informative,  
           Their personalized itinerary allowed me to explore at my own pace.
           I felt safe and well taken care of throughout my journey."
        </blockquote>
        <p class="testimonial-name">&mdash; Manoj Sharma</p>
      </figure>
    </div>
  </div>

  <div class="gallery">
    <figure class="gallery-item">
      <img
        src="/images/gallery/gallery1.jpeg"
        alt="Photo of beautifull place"
      />
      <!-- <figcaption>Caption</figcaption> -->
    </figure>
    <figure class="gallery-item">
      <img
        src="/images/gallery/gallery2.jpg"
        alt="Photo of beautifull place"
      />
    </figure>
    <figure class="gallery-item">
      <img
        src="/images/gallery/gallery3.jpeg"
        alt="Photo of beautifull place"
      />
    </figure>
    <figure class="gallery-item">
      <img
        src="/images/gallery/gallery4.jpg"
        alt="Photo of beautifull place"
      />
    </figure>
    <figure class="gallery-item">
      <img
        src="/images/gallery/gallery5.jpeg"
        alt="Photo of beautifull place"
      />
    </figure>
    <figure class="gallery-item">
      <img
        src="/images/gallery/gallery6.jpeg"
        alt="Photo of beautifull place"
      />
    </figure>
    <figure class="gallery-item">
      <img
        src="/images/gallery/gallery7.jpg"
        alt="Photo of beautifull place"
      />
    </figure>
    <figure class="gallery-item">
      <img
        src="/images/gallery/gallery8.jpg"
        alt="Photo of beautifull place"
      />
    </figure>
    <figure class="gallery-item">
      <img
        src="/images/gallery/gallery9.jpeg"
        alt="Photo of beautifull place"
      />
    </figure>
    <figure class="gallery-item">
      <img
        src="/images/gallery/gallery10.jpeg"
        alt="Photo of beautifull place"
      />
    </figure>
    <figure class="gallery-item">
      <img
        src="/images/gallery/gallery11.jpeg"
        alt="Photo of beautifull place"
      />
    </figure>
    <figure class="gallery-item">
      <img
        src="/images/gallery/gallery12.jpeg"
        alt="Photo of beautifull place"
      />
    </figure>
  </div>
</section>